<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <style>
    .form-container {
      display: flex;
      justify-content: center;
      margin-top: 10rem;
      flex-flow: row;
    }

    .title-bg-image {
      margin-right: 5rem;
    }

    .bg-image {
      display: flex;
      justify-content: center;
    }

    .bg-image img {
      width: 15rem;
    }

    form {
      border: 3px solid #f1f1f1;
    }

    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: #047eaa;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.8;
    }

    .container {
      padding: 16px;
    }

    .new-password {
      margin-bottom: 2rem;
    }

    .confirm-password {
      margin-bottom: 2rem;
    }
  </style>
</head>
<body>
<div class="form-container">
  <div class="title-bg-image">
    <h1>Reset Your Password</h1>
    <div class="bg-image">
      <img src="/images/reset-password.jpg" alt="">
    </div>
  </div>

  <form>
    <div class="container">
      <div class="new-password">
        <label for="newPassword"><strong>New Password:</strong></label>
        <input type="password" id="newPassword" name="newPassword" required>
        <label for="showNewPassword"></label><input type="checkbox" id="showNewPassword" onchange="togglePasswordVisibility('newPassword')"> Show Password
      </div>
      <div class="confirm-password">
        <label for="confirmPassword"><strong>Confirm Password:</strong></label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <label for="showConfirmPassword"></label><input type="checkbox" id="showConfirmPassword" onchange="togglePasswordVisibility('confirmPassword')"> Show Password
      </div>
      <div class="btn-submit">
        <button type="button" onclick="formSubmit(event, '{{ username }}')">Submit</button>
      </div>
      <div>
        <p id="warning-label" style="color: red; font-style: italic"></p>
      </div>
    </div>
  </form>

</div>
<script>
  function togglePasswordVisibility(inputId) {
    const passwordInput = document.getElementById(inputId);
    const checkbox = document.getElementById(`show${inputId.charAt(0).toUpperCase() + inputId.slice(1)}`);
    passwordInput.type = checkbox.checked ? 'text' : 'password';
  }
  async function formSubmit(event, username) {
    event.preventDefault();
    const successfulColor = "green";
    const errorColor = "red";
    const warningLabel = document.getElementById('warning-label');
    const newPassword = document.getElementById('newPassword').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    if (newPassword === "") {
      warningLabel.style.color = errorColor;
      warningLabel.innerHTML = "New Password cannot be left blank";
      return;
    }
    if (confirmPassword === "") {
      warningLabel.style.color = errorColor;
      warningLabel.innerHTML = "Confirm Password cannot be left blank";
      return;
    }
    if (newPassword !== confirmPassword) {
      warningLabel.style.color = errorColor;
      warningLabel.innerHTML = "Confirm password does not match";
      return;
    }
    const url = `/auth/reset-password/${username}`;
    try {
      console.log("hello");
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ newPassword }),
      });
      const data = await response.json();
      console.log(data);
      if (data.status === "Successfully") {
        warningLabel.style.color = successfulColor;
        warningLabel.innerHTML = data.message;
      } else if (data.status === "Error") {
        warningLabel.style.color = errorColor;
        warningLabel.innerHTML = data.message;
      }
    } catch (error) {
      console.log(error);
    }
  }
</script>
</body>
</html>