<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password Expired</title>
</head>
<style>
  .container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    flex-flow: row;
  }

  .title-bg-image {
    margin-right: 5rem;
  }

  .title-bg-image img {
    width: 20rem;
  }

  .state-message {
    justify-self: center;
    align-self: center;
  }

  .state {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
  }

  .state img {
    width: 4rem;
  }
</style>
<body>
<div class="container">
  <div class="title-bg-image">
    <h1>Reset Your Password</h1>
    <div class="bg-image">
      <img src="/images/reset-password.jpg" alt="">
    </div>
  </div>
  <div class="state-message">
    <div class="state">
      <img src="/images/fail.png" alt="">
      <h3 id="state">Error</h3>
    </div>
    <div class="message">
      <h4 id="message">This password reset link has expired</h4>
    </div>
  </div>
</div>
</body>
</html>