<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activation Email</title>
</head>
<body>
<h2>Xin chào {{ username }},</h2>
<p>Bạn đã đăng ký tài khoản thành công. Vui lòng nhấn vào đường link dưới đây để kích hoạt tài khoản của bạn:</p>
<a href="{{ activationLink }}">Kích hoạt tài khoản</a>
</body>
</html>
