<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activation Email</title>
</head>
<body>
<h2>Xin chào {{ username }},</h2>
<p>Bạn nhận được email này vì bạn (hoặc ai đó) đã yêu cầu đặt lại mật khẩu cho tài khoản của bạn.</p>
<p>Vui lòng nhấp vào liên kết dưới đây để đặt lại mật khẩu:</p>
<a href="{{ resetPasswordLink }}">Đặt lại mật khẩu</a>
</body>
</html>
