<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
<h2>Xin chào {{ username }}, mật khẩu của bạn đã được thay đổi</h2>
<div>Mật khẩu của bạn đã được đặt lại vào {{ resetDateTime }}</div>
<div>
  <ul>
    <li><strong>Trình duyệt: </strong>{{ userAgent }}</li>
    <li><strong>Địa chỉ IP: </strong>{{ clientIP }}</li>
  </ul>
</div>
<div>Trân trọng cảm ơn,</div>
<div>Classrooom</div>
</body>
</html>
