<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activation Email</title>
</head>
<body>
<h2>WELCOME,</h2>
<p>Chúc mừng! Bạn đã đăng ký tài khoản thành công và có thể sử dụng trang web Classroom - nơi đầy năng lượng tích cực và sự học tập sáng tạo. Chúng tôi rất vui mừng chào đón bạn vào hành trình học tập mới và thú vị này.</p>
<p>Tại Classroom, chúng tôi cam kết mang đến cho bạn trải nghiệm học tập linh hoạt, thuận tiện và đầy đủ. Dưới đây là một số điểm nổi bật mà bạn có thể trải nghiệm:</p>
<dl>
  <dt><strong>Tham gia Lớp Học:</strong></dt>
  <dd>Khám phá và tham gia vào các lớp học đa dạng, được thiết kế để đáp ứng mọi nhu cầu học tập của bạn.</dd>

  <dt><strong>Nhận Thông Báo:</strong></dt>
  <dd>Đừng bao giờ bỏ lỡ thông tin quan trọng về lớp học, bài kiểm tra, hoặc cập nhật từ giáo viên và đồng học.</dd>

  <dt><strong>Nộp Bài Tập:</strong></dt>
  <dd>Dễ dàng và nhanh chóng nộp bài tập của bạn và nhận phản hồi chi tiết từ giáo viên.</dd>

  <dt><strong>Tương tác Cộng Đồng:</strong></dt>
  <dd>Giao lưu và chia sẻ kiến thức với cộng đồng học viên đa dạng và năng động.</dd>
</dl>
<p>Classroom đã sẵn sàng đưa bạn đến những điều mới mẻ và tuyệt vời trong hành trình học tập của bạn. Nếu bạn có bất kỳ câu hỏi hoặc cần sự hỗ trợ, đừng ngần ngại liên hệ với chúng tôi qua email classroom@mygroup.one hoặc tận dụng hệ thống trợ giúp trực tuyến của chúng tôi.

  Một lần nữa, chào mừng bạn đến với Classroom! Chúng tôi mong rằng bạn sẽ có một trải nghiệm học tập đáng nhớ và thành công.</p>
<div></div>
<div></div>
<div>Chúc bạn một ngày tuyệt vời</div>
<div>Trân trọng,</div>
<div>Classroom</div>
</body>
</html>
